body {
  background: url(../img/intro-bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.container{
  max-width: 970px;
}

#welcome_message {
  display: none;
}
.userlist_head {
  border:2px solid #ddd;
  border-bottom: 0px;
  box-shadow: -2px 0 3px #ddd;
  text-align: center;
  padding: 5px;
  max-height: 400px;
  background: rgba(224, 217, 217, 0.24);
}

.userlist_head h3{
  margin-top: 5px;
  margin-bottom: 5px;
}
.contact__status.online {
    border: 2px solid #00B570;
}
.contact__status {
  position: absolute;
  margin-top: 10px;
  width: 8px;
  height: 8px;
  border: 2px solid #EA1632;
  border-radius: 50%;
  opacity: 1;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.conversation-wrap
{
  box-shadow: -2px 0 3px #ddd;
  padding-left: 10px;
  margin-bottom: 30px;
  max-height: 400px;
  overflow: auto;
  background: rgba(224, 217, 217, 0.24);
}
.conversation
{
  padding:5px;
  border-bottom:1px solid #ddd;
  margin:0;
}

.message-wrap
{
  box-shadow: 0 0 3px #ddd;
  padding:0;
  background: rgba(224, 217, 217, 0.24);
}
.msg
{
  padding:5px;
  /*border-bottom:1px solid #ddd;*/
  margin:0;
}
.msg-wrap
{
  padding:10px;
  max-height: 400px;
  overflow: auto;

}

.time
{
  color:#bfbfbf;
}

.send-wrap
{
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  padding:10px;
  /*background: #f8f8f8;*/
}

.send-message
{
  resize: none;
}

.highlight
{
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
}

.send-message-btn
{
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;

  border-bottom-right-radius: 0;
}
.btn-panel
{
  /*background: #f7f7f9;*/
}

.btn-panel .btn
{
  color: #fff;
  background: #de615e;
  transition: 0.2s all ease-in-out;
  border-radius: 4px;
}

.btn-panel .btn:hover
{
  color:#666;
  background: #f8f8f8;
}
.btn-panel .btn:active
{
  background: #f8f8f8;
  box-shadow: 0 0 1px #ddd;
}

.btn-panel-conversation .btn,.btn-panel-msg .btn
{

  
}
.btn-panel-conversation .btn:first-child
{
  /*border-right: 1px solid #ddd;*/
}

.msg-wrap .media-heading
{
  color:#003bb3;
  font-weight: 700;
}


.msg-date
{
  background: none;
  text-align: center;
  color:#aaa;
  border:none;
  box-shadow: none;
  border-bottom: 1px solid #ddd;
  padding: 5px;
  margin-bottom: 5px;
}


body::-webkit-scrollbar {
  width: 12px;
}


/* Let's get this party started */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
/*        -webkit-border-radius: 10px;
  border-radius: 10px;*/
}

/* Handle */
::-webkit-scrollbar-thumb {
/*        -webkit-border-radius: 10px;
  border-radius: 10px;*/
  background:#ddd; 
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
  background: #ddd; 
}
