body {
  background: url(../img/intro-bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.container{
  max-width: 970px;
}

#welcome_message {
  display: none;
}
.userlist_head {
  border:2px solid #ddd;
  border-bottom: 0px;
  box-shadow: -2px 0 3px #ddd;
  text-align: center;
  padding: 5px;
  max-height: 400px;
  background: rgba(224, 217, 217, 0.24);
}

.userlist_head h3{
  margin-top: 5px;
  margin-bottom: 5px;
}

.collapse.in {
  overflow: auto;
  max-height: 350px;
}
.glyphicon-user{
  background-color: #EA1632;
}

.glyphicon-user.online{
  background-color: #00B570;
}
/*.contact__status.online {
    border: 2px solid #00B570;
}*/
/*.contact__status {
  position: absolute;
  margin-top: 0px;
  width: 8px;
  height: 8px;
  border: 2px solid #EA1632;
  border-radius: 50%;
  opacity: 1;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}*/
.conversation-wrap
{
  box-shadow: -2px 0 3px #ddd;
  padding-left: 10px;
  margin-bottom: 30px;
  max-height: 400px;
  overflow: auto;
  background: rgba(224, 217, 217, 0.24);
}
.conversation
{
  padding:5px;
  border-bottom:1px solid #ddd;
  margin:0;
}

.message-wrap
{
  box-shadow: 0 0 3px #ddd;
  padding:0;
  background: rgba(224, 217, 217, 0.24);
}
.msg
{
  padding:5px;
  /*border-bottom:1px solid #ddd;*/
  margin:0;
}
.msg-wrap
{
  padding:10px;
  max-height: 400px;
  overflow: auto;

}

.time
{
  color:#bfbfbf;
}

.send-wrap
{
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  padding:10px;
  /*background: #f8f8f8;*/
}

.send-message
{
  resize: none;
}

.highlight
{
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
}

.send-message-btn
{
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;

  border-bottom-right-radius: 0;
}
.btn-panel
{
  /*background: #f7f7f9;*/
}

.btn-panel .btn
{
  color: #fff;
  background: #de615e;
  transition: 0.2s all ease-in-out;
  border-radius: 4px;
}

.btn-panel .btn:hover 
{
  color:#666;
  background: #f8f8f8;
}
.btn-panel .btn:active
{
  background: #f8f8f8;
  box-shadow: 0 0 1px #ddd;
}

.btn-panel-conversation .btn,.btn-panel-msg .btn
{

  
}
.btn-panel-conversation .btn:first-child
{
  /*border-right: 1px solid #ddd;*/
}

.msg-wrap .media-heading
{
  color:#003bb3;
  font-weight: 700;
}


.msg-date
{
  background: none;
  text-align: center;
  color:#aaa;
  border:none;
  box-shadow: none;
  border-bottom: 1px solid #ddd;
  padding: 5px;
  margin-bottom: 5px;
}


body::-webkit-scrollbar {
  width: 12px;
}


::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
/*        -webkit-border-radius: 10px;
  border-radius: 10px;*/
}

/* Handle */
::-webkit-scrollbar-thumb {
/*        -webkit-border-radius: 10px;
  border-radius: 10px;*/
  background:#ddd; 
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
  background: #ddd; 
}
/***** Media queries *****/

@media (min-width: 992px) and (max-width: 1199px) {}

@media (min-width: 768px) and (max-width: 991px) {}

@media (max-width: 767px) {
  
  .inner-bg { padding: 60px 0 110px 0; }

}

@media (max-width: 415px) {
  
  h1, h2 { font-size: 32px; }

}
.btn-link-1 {
  display: inline-block;
  height: 30px;
  margin: 8px;
  padding: 5px 5px 5px 5px;
  background: #de615e;
  color: #fff;
  -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
}
/*.btn-link-1:hover .btn-link-1:active .btn-link-1:active .btn-link-1:after { outline: 0; opacity: 0.8;color: #fff}*/
/*
.btn-link-1.btn-link-1-facebook { background: #4862a3; }
.btn-link-1.btn-link-1-twitter { background: #55acee; }
.btn-link-1.btn-link-1-google-plus { background: #dd4b39; }

.btn-link-1 i {
  padding-right: 5px;
  vertical-align: middle;
  font-size: 16px;
  line-height: 18px;
  color: #fff;
}*/

/* Toggle Styles */

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #000;
    opacity: 0.7;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    max-width: 970px;
    /*width: 100%;*/
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}
/**Below are styles for pop up chatbox*****/
/*#fixed {
    bottom: 5%;
    left: 100%;
    margin-left: -250px;
    overflow: hidden;
    padding: 0 5px;
    position: fixed;
    width: 280px;
    z-index: 1001;
}

.fixedHeader {
    background: none repeat scroll 0 0 #de615e;
    border-radius:2px;
    border: 1px solid #3d5a99;
    border-bottom: none;
    color: #fff;
    height: 30px;
    margin: 0 auto;
    padding: 5px;
    width: 300px;   
    font-weight:700;
    font-size:15px;
    opacity: 0.8;
}

.fixedContent {
    background: none repeat scroll 0 0 #ffffff;
    border-left: 1px solid #b2b2b2;
    border-right: 1px solid #b2b2b2;
    margin: 0 auto;   
    width: 400px;
    height:300px;
    overflow: auto;
    opacity:0.8;
}

.userinput{
    width: 300px;
    height:30px;
    outline:none;
    display:block;
    resize:none;
    padding:3px;
    opacity:0.8;    
}

.messages{
    color: #333;
    line-height: 1.28;
    padding:5px;
    margin-left:70px;
    font-size: 20px;
    display: block;
}

.userwrap{
    position:relative;
}

.user{
    padding: 5px ;
    font-size:12px;
    color:#888;
    font-weight:700;
    position:absolute;
    left:0; top:0;
}******************************/
