/* Fix user-agent */
* {
  box-sizing: border-box;
}

html {
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

html, input {
  font-family:
    "HelveticaNeue-Light",
    "Helvetica Neue Light",
    "Helvetica Neue",
    Helvetica,
    Arial,
    "Lucida Grande",
    sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  word-wrap: break-word;
}

/* Pages */
.pages {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.page {
  height: 100%;
  position: absolute;
  width: 100%;
}

/* Login Page */

.img-responsive{
  position:absolute;
  left:43%;
  top:3%;
} 

.login.page{
   background: url(../img/intro-bg.jpg);
   background-size: 100% 100%;
   margin:0;
   padding:0;s
}

.login-form {
    
	  top:10%;
    width:30%;
    height:50%;
    margin:70px auto 0;
    padding-top:5%;
    position:relative;  
    background-image:-*-linear-gradient(top,rgb(255,255,255),rgb(242,242,242));
    box-shadow:0px 3px 2px 2px rgba(255,255,255,0.5);
}/*21,62,78,0.8*/

.login-form div {
    width:100%;
    height:15%;
    margin:3% 3%;
    position:relative;
    border:none;
}

.login-form .user-icon, .login-form .password-icon {
    display:inline-block;
    font-family: 'loginform-icon';
    font-size:18px; 
    color:rgb(153,153,153);
    position:absolute;  
    background-color:rgb(255,255,255);
    border:none;
	  border-radius: .4em;
    border-right:1px solid rgb(229,229,232);
	
	 left:8%;
   width:8%; 
	 height:80%;
	 text-align:center;
   transition: all 300ms linear;
}/*top:-10%;*/
   
.login-form .username input, .login-form .password input {
    height:100%;
    width:60%;
	  left:18%;
    padding-left:10%;
    border-radius:.4em;
    border:1px solid;
    border-color:rgb(229,229,232) rgb(220,220,221) rgb(213,213,213) rgb(220,220,221);
    display:block;
    transition: all 300ms linear;
	  position:absolute;
}

.login-form .icon:before, .login-form .icon:after {
    content:"";
    position:absolute;
    top:10px;
    left:30px;
    width:0;
    height:0;
    border:4px solid transparent;
    border-left-color:rgb(255,255,255);
}

.login-form .icon:before {
    top:9px;
    border:5px solid transparent;
    border-left-color:rgb(229,229,232);
}

.login-form .username input:focus, .login-form .password input:focus {
    border-color:rgb(69,153,228);
    box-shadow:0 1px 2px 1px rgb(200,223,244);
}

.login-form .username input:focus + span, .login-form .password input:focus + span {
    background:-*-linear-gradient(top,rgb(255,255,255),rgb(245,245,245));
    color:rgb(51,51,51);
}

.login-form .username input:focus + span:after, .login-form .password input:focus + span:after {
    border-left-color:rgb(250,250,250);
}

.login-form button[type="submit"] {
    display:block;
	  color:rgb(153,153,153);
    font-weight:bold; 
	
    width:30%;
    height:100%;
	  left:30%;
	  top:40%;
    background-color:rgb(255,255,255);
    position:relative;
    
    border:none;
    border-radius:.4em;
    transition: all 200ms linear;
}

.login-form button[type="submit"]:hover {
    color:rgb(51,51,51);
    text-shadow:0 1px 1px;
    box-shadow:inset 0 1px 0 rgb(86,174,251),0 0 10px 3px rgba(74,162,241,0.5);
}/**/

.login-form button[type="submit"]:active {
    background:-*-linear-gradient(top,rgb(52,119,182),rgb(74,162,241)) 1px 0 no-repeat,
               -*-linear-gradient(top,rgb(52,118,181),rgb(36,90,141)) left top no-repeat;
}

.not-registered {
	  display:inline-block;
    
    color:rgb(255,255,255);
    font-weight:bold;
	  font-size:18px;
    top:110%;
	
    position:absolute;
    width:100%;
    height:20%;
    margin:0 auto;
    line-height:46px;
    text-align: center;
    box-shadow:0 3px 2px 2px rgba(255,255,255,0.5);
}
.not-registered a {
    margin-left:5px;
    text-decoration: none;   
    cursor: pointer;
}

@font-face {
  font-family: 'loginform-icon';
  src: url("../fonts/loginform-icon.eot");
  src: url("../fonts/loginform-icon.eot?#iefix") format('embedded-opentype'),
       url("../fonts/loginform-icon.woff") format('woff'),
       url("../fonts/loginform-icon.ttf") format('truetype'),
       url("../fonts/loginform-icon.svg#loginform-icon") format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chat page */
.chat.page {
  display: none;
}

.canvas::after {
  clear: both;
  content: "";
  display: table;
}
.canvas .chatroom-meta {
  /* background: lighten($theme, 40%) */
  font-size: 16px;
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  /* border-bottom: 5px solid lighten($theme, 30%) */
  z-index: 4000;
  color: #fff;
  background-color: #000;
}
.canvas .chatroom-meta:before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  z-index: -1;
  opacity: 0.3;
}
.canvas .chatroom-meta h2 {
  text-align: center;
  padding: 20px 0 20px;
  margin: 0;
  cursor: pointer;
  z-index: 400;
}
.canvas #chat {
  position: relative;
  width: 100%;
  padding: 75px 0 54px;
  overflow: scroll;
}
.canvas #chat::after {
  clear: both;
  content: "";
  display: table;
}
.canvas #chat .record {
  display: block;
  float: left;
  width: 100%;
}
/*bubble*/
.canvas #chat .bubble {
  background: #e7f2fa;
  display: inline-block;
  position: relative;
  padding: 10px 60px 10px 20px;
  margin: 0 30px 10px;
  border-radius: 11px;
}
.canvas #chat .bubble::after {
  clear: both;
  content: "";
  display: table;
}
.canvas #chat .bubble:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: -9px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 20px 20px;
  border-color: transparent transparent #e7f2fa transparent;
}
.canvas #chat .bubble.self {
  float: right;
}
.canvas #chat .bubble.self:before {
  left: auto;
  right: -9px;
  border-width: 0 20px 20px 0;
  border-color: transparent transparent #e7f2fa transparent;
}
.canvas #chat .bubble .name,
.canvas #chat .bubble .message {
  display: inline;
}
.canvas #chat .bubble .name {
  font-weight: bold;
  font-size: 20px;
  padding-right: 15px;
  display: inline-block;
}
.canvas #chat .bubble .time {
  color: rgba(121, 119, 119, 0.95);
  font-size: 9px;
  bottom: 10px;
  right: 20px;
  padding-top: 3px;
}
/* OwnBubble */
.word-content {
    min-width: 1px;
    max-width:60%;
    padding-right: 10px;
}

.canvas #chat .Ownbubble {
  line-height: 24px;
    font-size: 20px;
    position: relative;
    border-radius: 11px;
    min-height:40px;
    min-width: 1px;
    padding: 10px;
    margin: 10px;
}
.canvas #chat .Ownbubble::after {
  clear: both;
  content: "";
  display: table;
}
.canvas #chat .Ownbubble:before {
  content: "";
  position: absolute;
  top: 10px;
    right: -10px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 20px 20px;
    border-color: transparent transparent transparent #33CC33;

}
.canvas #chat .Ownbubble.self {
  float: right;
}
.canvas #chat .Ownbubble.self:before {
  left: auto;
  right: -9px;
  border-width: 0 20px 20px 0;
  border-color: transparent transparent #33CC33 transparent;
}
.canvas #chat .Ownbubble .name,
.canvas #chat .Ownbubble .message {
  display: inline-block;
  word-break: break-all;
}
.canvas #chat .Ownbubble .name {
  font-weight: bold;
  font-size: 20px;
  padding-right: 15px;
  display: inline-block;
}
.canvas #chat .Ownbubble .time {
  color: #5D5B5B;
  font-size: 9px;
  bottom: 10px;
  right: 20px;
  padding-top: 3px;
}
/* Font */

.messages {
  font-size: 150%;
}

.inputMessage {
  font-size: 100%;
}

.log {
  color: gray;
  font-size: 70%;
  margin: 5px;
  text-align: center;
}

/* Messages */
.chatArea {
  height: 100%;
  padding-bottom: 60px;
}

.message.typing .messageBody {
  color: gray;
  width: 30%;
  text-align: right;
}

.username {
  font-weight: 700;
  padding-right: 15px;
  text-align: right;
  width: 30%;
  display: inline-block;
}

.messageBody {
  width: 30%;
  display: inline-block;
  text-align: right;
}

/* Input */
.inputMessage {
  border: 10px solid #000;
  bottom: 0;
  height: 60px;
  left: 0;
  outline: none;
  padding-left: 10px;
  position: fixed;
  right: 0;
  width: 100%;
}
