body{
    background:#eee;
}

#search-username {
    width: auto;
    float: none;
}

#search-username-box {
    display: inline;
}

.panel-primary>.panel-heading {
    min-height: 50px;
}

.glyphicon.glyphicon-comment {
    font-size: 15px;
    top: 7px;
}

.search2 {
    padding: 5px 0;
    height: 60px;
    position: relative;
    line-height: 22px;
}

.search2 .search-box {
    overflow: hidden;
}

.search2 input {
    width: 100%;
    opacity: 0.8;
    -webkit-transition: all 0.7s ease-in-out;
    -moz-transition: all 0.7s ease-in-out;
}

.search2 button {
    height: 35px;
    width: 10%;
    min-width: 35px;
    border-radius: 3px;
}

.search2 .dropdown-toggle {
    min-width: 75px;
    width: auto;
    display: inline;
    padding-right: 20px;
}

.round.online {
    background-color: #42A129;
}
.round.offline {
    background-color: #999999;
}
/*.round.red {
    background-color: #EF140D;
}*/
.round.round-lg {
    height: 20px;
    width: 20px;
    line-height: 20px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    font-size: 0.7em;
    position: relative;
    /*max-width: 50px;*/
    float: left;
    margin-right: 15px;
}
.round {
    display: inline-block;
    height: 30px;
    width: 30px;
    line-height: 30px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    background-color: #222;
    color: #FFF;
    text-align: center;
}
.glyphicon.glyphicon-user {
    top: 4px;
}
.glyphicon {
    font-size: 10px;
}


.main-box {
    background: #FFFFFF;
    overflow-y: scroll;
    max-height: 300px;
    -webkit-box-shadow: 1px 1px 2px 0 #CCCCCC;
    -moz-box-shadow: 1px 1px 2px 0 #CCCCCC;
    -o-box-shadow: 1px 1px 2px 0 #CCCCCC;
    -ms-box-shadow: 1px 1px 2px 0 #CCCCCC;
    box-shadow: 1px 1px 2px 0 #CCCCCC;
    margin-bottom: 16px;
    -webikt-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.table a.table-link.danger {
    color: #e74c3c;
}
.label {
    border-radius: 3px;
    font-size: 0.875em;
    font-weight: 600;
}

.user-list {
    margin: auto;
}

.user-list tbody {
    max-height: 100px;
}

.user-list tbody td .user-subhead {
    font-size: 0.875em;
    font-style: italic;
}
.user-list tbody td .user-link {
    display: block;
    font-size: 1.25em;
    padding-top: 3px;
    margin-left: 30px;
}
a {
    color: #3498db;
    outline: none!important;
}
.user-list tbody td>img {
    position: relative;
    max-width: 50px;
    float: left;
    margin-right: 15px;
}

.table thead tr th {
    text-transform: uppercase;
    font-size: 0.875em;
}
.table thead tr th {
    border-bottom: 2px solid #e7ebee;
}
.table tbody tr td:first-child {
    /*font-size: 1.125em;*/
    font-weight: 300;
}
.table tbody tr td {
    min-width: 100px;
    font-size: 0.875em;
    vertical-align: middle;
    border-top: 1px solid #e7ebee;
    padding: 12px 8px;
}